# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Visual studio files
*.VC.*db
*.VC.db

# Zip files
*.7z

# Project specific folders
third_party/
Build*/
output/
Documentation/Output
_Sample/
Exec*

# Project specific files
Documentation/DUMP
GFramework_Doc.txt